h1{
text-align: center


}

/* any comment */

p{
font-size: 24px;
background-color: brown;
padding: 10px;
border: solid black 5px;
margin: 100px;

}

.paragraph-yellow {
    font-size: 24px;
background-color: yellow;
border: solid black 5px;

}



a{
text-decoration: none;
border-bottom:solid blue 2px;
padding-bottom: 2px;
text-align: center;

}

a{
font-size: 100px;
text-decoration: none;
padding-bottom:3px;
color: blue;
transition: 0.05s
}

a:hover{

    border-bottom: solid blue 4px;
}

a:visited{


    color: blue
}

h1+a{

    color: red;
}